/* Write your CSS here */
.link-item {
  text-decoration: none;
  width: 45%;
}
.team-card {
  font-family: roboto;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ffffff33;
  border: 1px solid #ffffff;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  margin-right: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}
.team-card-image {
  height: 50px;
  width: 50px;
}
.team-card-name {
  font-size: 15px;
  font-family: 'Bree Serif';
  font-weight: 500;
  color: #ffffff;
  margin-left: 10px;
  text-align: center;
}
