/* Write your CSS here */
.app-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ipl-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}
.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ipl-logo {
  height: 60px;
  width: 60px;
  margin-right: 15px;
}
.header-heading {
  font-family: roboto;
  font-size: 60px;
  font-weight: 700;
  color: white;
  align-items: center;
}
.team-list-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  width: 100%;
}
